@inject SyncRepository<Character> characterManager
@inject SyncRepository<Campaign> campaignManager
@inject IJSRuntime js

<h3>Charakter zuweisen</h3>

<EditForm Model="@selectedCharacter" OnValidSubmit="Post" class="w-100">
    <DataAnnotationsValidator />

    @if (charactersFromUser != null) {
        <label for="character">Name:</label>
        <InputSelect @bind-Value="SelectedCharacterId" class="form-select" id="character">
            <option selected value="0">Bitte auswählen</option>
            @foreach (var userCharacter in charactersFromUser) {
                <option value="@userCharacter.Id">@userCharacter.Name</option>
            }
        </InputSelect>
    }

    @if (selectedCharacter.Id != 0) {
    <div class="mt-2">
        <p>
            <strong>Name:</strong> @selectedCharacter.Name <br />
            <strong>Rasse:</strong> @selectedCharacter.Race!.Name <br />
            <strong>Klassen:</strong><br />
            @if (selectedCharacter.Classes != null) {
                <ul>
                    @foreach (var characterClass in selectedCharacter.Classes) {
                        <li>@characterClass.Class!.Name - Level: @characterClass.Level</li>
                    }
                </ul>
            }
            @if (selectedCharacter.CampaignId != null) {
                    <strong>Kampagne: </strong> @appState.Campaigns.Where(c => c.Id == selectedCharacter.CampaignId).FirstOrDefault().Name
            }
        </p>
    </div>
}

    <div class="mt-3">
        <SubmitButton />
        <button class="btn btn-outline-secondary me-2" type="button" @onclick="Close">Abbrechen</button>
        <a href="/new-character/" class="btn btn-outline-primary me-2" titel="Neuen Charakter erstellen">Charakter erstellen</a>
    </div>
    

    <ValidationSummary class="mt-3" />
    @if (!string.IsNullOrEmpty(UIMessage)) {
        <ul class="mt-3">
            <li class="validation-message">
                @UIMessage
            </li>
        </ul>
    }
</EditForm>



@code {
    [CascadingParameter]
    private CascadingAppState appState { get; set; }
    [CascadingParameter]
    private CampaignDetails context { get; set; }
    [Parameter]
    public Character? OriginalCharacter { get; set; }
    [Parameter]
    public EventCallback OnClose { get; set; }

    private IEnumerable<Character>? charactersFromUser;
    private Character selectedCharacter = new();
    bool characterHasCampaign;

    private string UIMessage = "";

    private int selectedCharacterId;
    public int SelectedCharacterId {
        get => selectedCharacterId;
        set {
            selectedCharacterId = value;

            selectedCharacter = charactersFromUser?.FirstOrDefault(c => c.Id == selectedCharacterId) ?? new Character();
        }
    }

    protected override async Task OnInitializedAsync() {
        await appState.EnsureCampaigns();
        await appState.EnsureCharacters();
        charactersFromUser = appState.Characters;

        if (charactersFromUser != null && !charactersFromUser.Any(c => c.Id == selectedCharacterId)) {
            selectedCharacter = new Character();
        }
    }

    private async void Post() {

        try {
            if (SelectedCharacterId == 0) {
                UIMessage = "Charakter muss ausgewählt werden";
                StateHasChanged();
                return;
            }

            CheckForOtherCampaign();
            if (characterHasCampaign) {
                bool confirm = await js.InvokeAsync<bool>("confirm", "Charakter kann nur in einer Kampagne gleichzeitig sein.\r\nSoll die Kampagne geändert werden?");
                if (!confirm) return;
            }

            if (OriginalCharacter != null) {
                Character characterToRemove = appState.Characters.FirstOrDefault(c => c.Id == OriginalCharacter.Id);
                characterToRemove.CampaignId = null;
                characterToRemove = await characterManager.Update(characterToRemove);
                appState.Characters[appState.Characters.FindIndex(c => c.Id == characterToRemove.Id)] = characterToRemove;
            }
            selectedCharacter.CampaignId = context.Campaign.Id;
            selectedCharacter = await characterManager.Update(selectedCharacter);
            appState.Characters[appState.Characters.FindIndex(c => c.Id == selectedCharacter.Id)] = selectedCharacter;
            await appState.GetCampaigns();
            await context.AllocatePlayersNCharacters();
            Close();
        }
        catch (Exception ex) {
            Console.WriteLine($"{ex.Message}");
        }
    }
    private void CheckForOtherCampaign(){
        Character temp = appState.Characters.FirstOrDefault(c => c.Id == SelectedCharacterId);
        characterHasCampaign = false;
        characterHasCampaign = temp.CampaignId != null;
    }
    private async void Close() {
        await OnClose.InvokeAsync();
    }
}
