@page "/campaign-details/{id}"
@attribute [Authorize]
@inject CampaignApiManager campaignManager
@inject JoinRequestApiManager joinRequestManager
@inject IJSRuntime js
@inherits NotesCategoryParent
@using Newtonsoft.Json

<h3>@campaign.Name</h3>

<CascadingValue Value="this" IsFixed="false">
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-12 col-md-6">
                <strong>Dungeonmaster: </strong><br />
                @if (campaign.DungeonMasters != null && campaign.DungeonMasters.Any()) {
                    <p>
                        <ul>
                            @foreach (var master in campaign.DungeonMasters) {
                                @if (master.UserName != null) {
                                    <li>
                                        @master.UserName
                                    </li>
                                }
                            }
                        </ul>
                    </p>
                }
                else {
                    <p>Kein DungeonMaster gefunden</p>
                }
                <p>
                    <strong>Zugangscode: </strong>@campaign.Id
                    <span class="oi oi-share-boxed ms-2" @onclick="ShareAccessCode" title="Zugangscode teilen" style="cursor: pointer;" aria-hidden="true"></span>
                </p>
                <p>
                    <strong>Mitspieler</strong>
                    <table class="table table-sm table-hover table-striped align-middle">
                        @if (campaign.Players != null && campaign.Players.Any()) {
                            <tbody>
                                @foreach (var player in campaign.Players) {
                                    <tr>
                                        @if (player.UserName != null) {
                                            <td>@player.UserName</td>
                                        }
                                        <td>
                                            @* <button class="btn btn-outline-primary me-2" @onclick="() => ShowCharacter(player)">Infos</button> *@
                                            @if (campaign.DungeonMasters != null && campaign.DungeonMasters.Any(dm => dm.Id == currentUserId)) {
                                                <button class="btn btn-outline-danger me-2" @onclick="() => RemovePlayer(player, true)">entfernen</button>
                                            }
                                            @if (player.Id == currentUserId) {
                                                <button class="btn btn-outline-danger me-2" @onclick="() => RemovePlayer(player, false)">austreten</button>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        }
                        else {
                            <tr><td>keine Mitspieler gefunden</td></tr>
                        }
                    </table>
                </p>
                @if (campaign.DungeonMasters != null && campaign.DungeonMasters.Any(dm => dm.Id == currentUserId)) {
                    <p>
                        <strong>Offene Anfragen</strong>
                        <table class="table table-sm table-hover table-striped align-middle">
                            @if (joinRequests != null && joinRequests.Any()) {
                                <tbody>
                                    @foreach (var request in joinRequests) {
                                        <tr>
                                            @if (request.User != null) {
                                                <td>@request.User.UserName</td>
                                            }
                                            <td>
                                                <button class="btn btn-outline-primary me-2" @onclick="() => JoinRequestAccept(request)">Annehmen</button>
                                                <button class="btn btn-outline-danger me-2" @onclick="() => JoinRequestReject(request)">Ablehnen</button>
                                            </td>
                                            <td>
                                                @requestMessage
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            }
                            else {
                                <tr><td>keine offenen Anfragen</td></tr>
                            }
                        </table>
                    </p>
                }
            </div>

        </div>
        <div class="row">
            @if (campaign.DungeonMasters != null && campaign.DungeonMasters.Any(dm => dm.Id == currentUserId)) {
            
                    <div class="col-2 my-1" id="notes-icons-container">
                    <NotesCategoryIcons @bind-ActiveCategory="ActiveCategory"
                                        CampaignId="@Id"
                                        OnCategoryChanged="HandleCategoryChanged"
                                        ViewTypeIsDM="true" />
                    
                </div>
                <div class="col-10">
                    @if (!ShowAddNotes)
                    {
                        <NotesView NotesCategory="@ActiveCategory"
                                   CampaignId="@Id"
                                   OnEditNote="ShowAddNotesAsync"
                                   ViewTypeIsDM="true" />

                        <button class="btn btn-secondary mt-1" @onclick="() => ShowAddNotesAsync(0)">Notiz hinzufügen</button>
                    }
                    else{
                        <NotesAdd NotesCategory="@ActiveCategory"
                                  SelectedNoteId="@SelectedNoteId"
                                  CampaignId="@Id"
                                  OnClose="HideAddNotesAsync" />
                    }

                </div> 
            }
        </div>
    </div>
    <div class="row my-4 pt-4 border-top">
        <div>
            <a class="btn btn-secondary me-2" onclick="history.back();">Zurück</a>
            @if (campaign.DungeonMasters != null && campaign.DungeonMasters.Any(dm => dm.Id == currentUserId)) {
                <button class="btn btn-danger" @onclick="DeleteCampaign">Löschen</button>
            }
        </div>
    </div>

    @if (!string.IsNullOrEmpty(UIMessage)) {
        <div class="row my-4 pt-4">
            <div>
                @UIMessage
            </div>
        </div>
    }
</CascadingValue>

@code {
    [CascadingParameter]
    public CascadingAppState appState { get; set; }
    [Parameter]
    public required string Id { get; set; }
    private Campaign campaign = new Campaign();
    private IEnumerable<JoinRequest>? joinRequests;
    private string requestMessage = "";
    private string UIMessage = "";
    private string currentUserId = "";

    public new string ActiveCategory = "story";
    // public bool ShowAddNotes { get; private set; } = false;
    // public int SelectedNoteId { get; private set; } = 0;

    protected override async Task OnInitializedAsync() {
        await appState.EnsureCampaigns();
        currentUserId = appState.UserId;
        campaign = appState.Campaigns.FirstOrDefault(c => c.Id == Id);
        await GetOpenJoinRequests();
    }

    private async Task GetOpenJoinRequests() {
        joinRequests = await joinRequestManager.GetAll();
        joinRequests = joinRequests.Where(x => x.CampaignId == Id && x.Accepted == null);
    }
    private async void JoinRequestReject(JoinRequest joinRequest) {
        if (joinRequest != null) {
            await joinRequestManager.Delete(joinRequest.Id);
            UIMessage = $"Beitrittsanfrage abgelehnt";
            await GetOpenJoinRequests();
        }
        StateHasChanged();
    }
    private async Task JoinRequestAccept(JoinRequest joinRequest) {

        if (joinRequest != null) {
            joinRequest.Accepted = DateTime.UtcNow;
            joinRequest.User = null;
            await joinRequestManager.Update(joinRequest);
            UIMessage = $"Beitrittsanfrage akzeptiert";
            await GetOpenJoinRequests();
            await appState.GetCampaigns();
            campaign = appState.Campaigns.FirstOrDefault(c => c.Id == Id);
        }
        StateHasChanged();
    }
    private async Task ShareAccessCode() {
        try {
            if (await js.InvokeAsync<bool>("navigator.canShare", new { text = "Test" })) {
                await js.InvokeVoidAsync("navigator.share", new {
                    title = "Dungeon Kampagne",
                    text = $"Hier ist der Zugangscode: {campaign.Id}"
                });
            }
            else {
                Console.WriteLine("Web Share API wird nicht unterstützt");
            }

        }
        catch (Exception ex) {
            Console.WriteLine($"Fehler beim Teilen: {ex.Message}");
        }
    }

    private async Task RemovePlayer(ApplicationUser playerToDelete, bool isKicked) {

        try {
            string toDeleteName = playerToDelete.UserName;
            string confirmMessage = $"Soll der Spieler '{toDeleteName}' wirklich entfernt werden?";
            string uiMessage = $"Spieler '{toDeleteName}' wurde entfernt";

            if (!isKicked) {
                confirmMessage = $"Möchtest du diese Kampagne wirklich verlassen?";
                uiMessage = $"Kampagne erfolgreich verlassen";
            }


            bool confirm = await js.InvokeAsync<bool>("confirm", $"{confirmMessage}");
            if (!confirm) return;

            if (campaign.Players != null) {
                campaign.Players.Remove(playerToDelete);
                campaign = await campaignManager.Update(campaign);
                appState.Campaigns[appState.Campaigns.FindIndex(c => c.Id == Id)] = campaign;
                UIMessage = uiMessage;
                if (!isKicked) {
                    await js.InvokeVoidAsync("history.back");
                }
            }
            else {
                Console.WriteLine($"Spieler '{toDeleteName}' nicht gefunden");
            }
        }
        catch (Exception ex) {
            Console.WriteLine($"Exception RemovePlayer: {ex.Message}");
        }
    } 

    private async Task DeleteCampaign() {
        string toDeleteName = campaign.Name;
        bool confirm = await js.InvokeAsync<bool>("confirm", $"Soll der Eintrag '{toDeleteName}' wirklich gelöscht werden?");
        if (!confirm) return;

        bool success = await campaignManager.Delete(campaign.Id);

        if (success) {
            appState.Campaigns.Remove(campaign);
            UIMessage = $"Kampagne '{toDeleteName}' erfolgreich gelöscht.";
            await js.InvokeVoidAsync("history.back");
        }
        else {
            UIMessage = $"Kampagne '{toDeleteName}' konnte nicht gelöscht werden.";
        }
    }
    // public void HandleCategoryChanged()
    // {
    //     ShowAddNotes = false;
    // }

    // public Task ShowAddNotesAsync(int noteId)
    // {
    //     SelectedNoteId = noteId;
    //     ShowAddNotes = true;
    //     return Task.CompletedTask;
    // }

    // public Task HideAddNotesAsync()
    // {
    //     ShowAddNotes = false;
    //     return Task.CompletedTask;
    // }
}
