<div class="@GetCategoryClass("inventory")" @onclick='() => ChangeView("inventory")'>
    <i class="bi bi-backpack3"></i> Inventar
</div>
<div class="@GetCategoryClass("story")" @onclick='() => ChangeView("story")'>
    <i class="bi bi-journal-text"></i> Story
</div>
<div class="@GetCategoryClass("people")" @onclick='() => ChangeView("people")'>
    <i class="bi bi-people"></i> Personen
</div>
<div class="@GetCategoryClass("locations")" @onclick='() => ChangeView("locations")'>
    <i class="bi bi-pin-map-fill"></i> Orte
</div>
<div class="@GetCategoryClass("quest")" @onclick='() => ChangeView("quest")'>
    <i class="bi bi-chat-square-dots"></i> Quests
</div>
<div class="@GetCategoryClass("hints")" @onclick='() => ChangeView("hints")'>
    <i class="bi bi-lightbulb"></i> Hinweise
</div>

@code {
    [Parameter]
    public required string ActiveCategory { get; set; }
    [Parameter]
    public EventCallback<string> ActiveCategoryChanged { get; set; }
    [Parameter]
    public EventCallback OnCategoryChanged { get; set; }

    private async Task ChangeView(string category) {
        ActiveCategory = category;
        await ActiveCategoryChanged.InvokeAsync(category);
        await OnCategoryChanged.InvokeAsync();
    }
    private string GetCategoryClass(string category) {
        return ActiveCategory == category
            ? "ps-2 my-1 bg-light text-dark border"
            : "ps-2 my-1 bg-dark text-light";
    }
}
