@inject CharacterApiManager characterManager
@using Newtonsoft.Json

<table class="table table-striped">
    <tbody>
        @if (character.Inventory != null && character.Inventory.Any() != false)
        {
            @foreach (var inventoryItem in character.Inventory)
            {
                <tr>
                    <td width="8%" class="align-middle">
                        @inventoryItem.Count
                    </td>
                    <td width="12%" class="align-middle">
                        <button @onclick="() => IncreaseItemCount(inventoryItem)" title="Anzahl erhöhen">+</button>
                        <button @onclick="() => DecreaseItemCount(inventoryItem)" title="Anzahl verringern">-</button>
                    </td>
                    @if (inventoryItem.Item != null) {
                        <td width="50%" class="align-middle">@inventoryItem.Item.Name</td>
                        @if (inventoryItem.Item.Weight != null) {
                            <td width="15%" class="align-middle text-end">
                                @inventoryItem.Item.Weight @UnitOfWeight
                            </td>
                            <td width="15%" class="align-middle text-end">
                                @(inventoryItem.Count * inventoryItem.Item.Weight) @UnitOfWeight
                            </td>
                        }
                        else {
                            <td width="15%"></td>
                            <td width="15%"></td>
                        }
                    }
                </tr>
            }
            <tr>
                <td class="align-middle text-end" colspan="4">Gewicht Total</td>
                <td class="align-middle text-end">@weightTotal @UnitOfWeight</td>
            </tr>
        }
        else {
            <tr><td>Keine Items gefunden</td></tr>
        }
    </tbody>
</table>
@if (showUIMessage) {
    <ul class="mt-3">
        <li class="validation-message">
            @UIMessage
        </li>
    </ul>
}

@code {
    [CascadingParameter]
    CascadingAppState appState { get; set; }
    [Parameter]
    public required int CharacterId { get; set; }
    [Parameter]
    public string? UnitOfWeight { get; set; }

    private Character character;
    private bool showUIMessage;
    private string UIMessage = string.Empty;

    private float weightTotal;

    protected override async Task OnInitializedAsync() {
        await appState.EnsureCharacters();
        character = appState.Characters.FirstOrDefault(c => c.Id == CharacterId);
        GetWeightSum();
    }

    private void GetWeightSum() {
        Console.WriteLine("getWeightSum aufgerufen");
        
        weightTotal = 0;
        float weightProduct;
        if (character.Inventory != null && character.Inventory.Any()) {
            Console.WriteLine("summe wird berechnet");
            foreach (var inventoryItem in character.Inventory) {
                @if (inventoryItem.Item != null) {
                    @if (inventoryItem.Item.Weight != null) {
                        weightProduct = inventoryItem.Item.Weight.Value * inventoryItem.Count;
                        weightTotal += weightProduct;
                    }
                }
            }
        }
        else {
            Console.WriteLine("inventory leer");
        }
    }

    private async Task IncreaseItemCount(Inventory inventoryItem) {
        showUIMessage = false;
        inventoryItem.Count++;
        await UpdateItemCount();
    }
    private async Task DecreaseItemCount(Inventory inventoryItem) {
        showUIMessage = false;
        if (inventoryItem.Count == 1) {

            await DeleteItemFromInventory(inventoryItem);
            return;
        }

        inventoryItem.Count--;
        await UpdateItemCount();
    }
    private async Task UpdateItemCount() {
        character = await characterManager.Update(character);
        appState.Characters[appState.Characters.FindIndex(c => c.Id == character.Id)] = character;
        GetWeightSum();
        StateHasChanged();
    }

    private async Task DeleteItemFromInventory(Inventory inventoryItem) {
        try {
            if (character.Inventory != null && character.Inventory.Any()) {
                var itemToRemove = character.Inventory.FirstOrDefault(i => i.Item.Id == inventoryItem.Item.Id);

                if (itemToRemove != null) {

                    string itemName = itemToRemove.Item!.Name;
                    character.Inventory!.Remove(itemToRemove);
                    UIMessage = $"Item '{itemName}' wurde aus dem Inventar entfernt";
                    showUIMessage = true;
                }
            }
            character = await characterManager.Update(character);
            appState.Characters[appState.Characters.FindIndex(c => c.Id == character.Id)] = character;
        }
        catch (Exception ex) {
            Console.WriteLine($"{ex.Message}");
        }

    }
}
