@page "/character-details/{id}"
@using SADnD.Client.Pages.CharacterPages.InventoryPages
@using Newtonsoft.Json
@attribute [Authorize]
@inject CharacterSyncManager characterManager
@inject IJSRuntime js

@if (character != null) {
    <h3>Charakter "@character.Name"</h3>

    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-12 col-md-4">
                <h4>Details</h4>
                <p><strong>Rasse: </strong>@(character.Race != null ? character.Race.Name : "Unbekannt")</p>
                @if (character.Classes != null && character.Classes.Any()) {
                    <p>
                        <strong>Klassen</strong>
                        <ul>
                            @foreach (var characterClass in character.Classes) {
                                @if (characterClass.Class != null) {
                                    <li>
                                        @characterClass.Class.Name, Level: @characterClass.Level
                                    </li>
                                }
                            }
                        </ul>
                    </p>
                }
                else {
                    <p>Keine Klasse zugeordnet</p>
                }
                <p><strong>Grösse-Kategorie: </strong>@(character.SizeCategory != null ? character.SizeCategory : "Unbekannt")</p>
                <p><strong>Grösse: </strong>@(character.Size != null ? character.Size : "Unbekannt")</p>
                <p><strong>Geschlecht: </strong>@(character.Sex != null ? character.Sex : "Unbekannt")</p>
                <p><strong>Gesinnung: </strong>@(character.Alignment != null ? character.Alignment : "Unbekannt")</p>
                <p><strong>Alter: </strong>@(character.Age != null ? character.Age : "Unbekannt")</p>
                <p><strong>Gewicht: </strong>@(character.Weight != null ? character.Weight : "Unbekannt")</p>
            </div>
            <div class="col-12 col-md-4">
                <h4>Inventar</h4>
                <table class="table table-striped">
                    <tbody>
                        @if (character.Inventory != null && character.Inventory.Any() != false) {
                            @foreach (var inventoryItem in character.Inventory) {
                                <tr>
                                    <td>
                                        @inventoryItem.Count
                                    </td>
                                    <td>
                                        <button @onclick="() => IncreaseItemCount(inventoryItem)" title="Anzahl erhöhen">+</button>
                                        <button @onclick="() => DecreaseItemCount(inventoryItem)" title="Anzahl verringern">-</button>
                                    </td>
                                    @if (inventoryItem.Item != null) {
                                        <td>@inventoryItem.Item.Name</td>
                                        @if (inventoryItem.Item.Weight != null) {
                                            <td>
                                                @inventoryItem.Item.Weight @unitOfWeight
                                            </td>
                                        }
                                        else {
                                            <td></td>
                                        }
                                    }
                                </tr>
                            }
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="text-end">Gewicht Total</td>
                                <td>@weightTotal @unitOfWeight</td>
                            </tr>
                        }
                        else {
                            <tr><td>Keine Items gefunden</td></tr>
                        }
                    </tbody>
                </table>
                @if (showUIMessage) {
                    <ul class="mt-3">
                        <li class="validation-message">
                            @UIMessage
                        </li>
                    </ul>
                }
                <a class="btn btn-primary me-2" href="all-items">deine Items bearbeiten</a>
            </div>
            <div class="col-12 col-md-4">
                @if (!showAddItems) {
                    <button class="btn btn-secondary" @onclick="ShowAddItems">Item hinzufügen</button>
                }
                else {
                    <InventoryItemAdd ShowAddItems="@showAddItems"
                                      OnClose="HideAddItems"
                                      Character="@character"
                                      UnitOfWeight="@unitOfWeight" />
                }
            </div>

        </div>
    </div>
    <div class="container-fluid mt-3">
        <a class="btn btn-outline-primary me-2" onclick="history.back();">Zurück</a>
        <button class="btn btn-outline-danger" @onclick="DeleteCharacter">Löschen</button>
    </div>
}



@code {
    [Parameter] public required string Id { get; set; }
    private Character character = new Character();

    private bool showAddItems;
    private bool showUIMessage;
    private string UIMessage = string.Empty;
    private string unitOfWeight = "kg";
    private float weightTotal;

    protected override async Task OnInitializedAsync() {
        character = await characterManager.GetByID(Id);

        GetWeightSum();
    }


    private async Task DeleteCharacter() {
        // string toDeleteName = character.Name;
        // bool confirm = await js.InvokeAsync<bool>("confirm", $"Soll der Eintrag '{toDeleteName}' wirklich gelöscht werden?");
        // if (!confirm) return;

        await js.InvokeVoidAsync("alert", "Funktion wird später implementiert");
        //await characterManager.Delete(character.Id);
    }

    private async void ShowAddItems() {
        showAddItems = true;
        character = await characterManager.GetByID(Id);
        StateHasChanged();
    }
    private void HideAddItems() {
        showAddItems = false;
        StateHasChanged();
        GetWeightSum();
    }

    private void GetWeightSum() {
        weightTotal = 0;
        float weightProduct;
        if (character.Inventory != null && character.Inventory.Any()) {
            foreach (var inventoryItem in character.Inventory) {
                @if (inventoryItem.Item != null) {
                    @if (inventoryItem.Item.Weight != null) {
                        weightProduct = inventoryItem.Item.Weight.Value * inventoryItem.Count;
                        weightTotal += weightProduct;
                    }
                }
            }
        }
    }

    private async Task IncreaseItemCount(Inventory inventoryItem) {
        showUIMessage = false;
        inventoryItem.Count++;
        await UpdateItemCount();
    }
    private async Task DecreaseItemCount(Inventory inventoryItem) {
        showUIMessage = false;

        if (inventoryItem.Count == 1) {

            await DeleteItemFromInventory(inventoryItem);
            return;
        }

        inventoryItem.Count--;
        await UpdateItemCount();
    }
    private async Task UpdateItemCount() {
        await characterManager.Update(character);
        GetWeightSum();
        StateHasChanged();
    }

    private async Task DeleteItemFromInventory(Inventory inventoryItem) {
        try {
            if (character.Inventory != null && character.Inventory.Any()) {
                var itemToRemove = character.Inventory.FirstOrDefault(i => i.Item.Id == inventoryItem.Item.Id);

                if (itemToRemove != null) {

                    string itemName = itemToRemove.Item!.Name;
                    character.Inventory!.Remove(itemToRemove);
                    UIMessage = $"Item '{itemName}' wurde aus dem Inventar entfernt";
                    showUIMessage = true;
                }
            }

            character = await characterManager.Update(character);

        }
        catch (Exception ex) {
            Console.WriteLine($"{ex.Message}");
        }

    }
}
