@page "/new-character/"
@page "/new-character/{CharacterId}"

@attribute [Authorize]
@using Newtonsoft.Json
@using System.Security.Claims
@inject IJSRuntime js

@inject CharacterApiManager characterManager
@inject ClassApiManager classManager
@inject RaceApiManager raceManager



@if (allRaces != null && allClasses != null) {
    <div class="container-fluid mt-3">
        <h3>Charakter hinzufügen</h3>
        <EditForm Model="@character" OnValidSubmit="@Post">

            <DataAnnotationsValidator />
            <div class="row">

                <div class="col-12 col-md-4 p-1">
                    <label for="name">Name:</label>
                    <InputText @bind-Value="@character.Name" id="name" class="form-control"></InputText>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 p-1">
                    <label for="race">Rasse:</label>
                    <InputSelect @bind-Value="@character.RaceId" id="race" class="form-select">
                        <option selected value="0">Bitte auswählen</option>
                        @foreach (var race in allRaces) {
                            <option value="@race.Id">@race.Name</option>
                        }
                    </InputSelect>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 p-1">
                    <label for="class">Klasse:</label>
                    @if (character.Classes != null) {
                        @foreach (var charClass in character.Classes) {
                            <div class="d-flex align-items-center gap-3 mb-2">
                                <InputSelect @bind-Value="@charClass.ClassId" id="class" class="form-select">
                                    <option selected value="0">Bitte auswählen</option>
                                    @foreach (var characterClass in allClasses) {
                                        <option value="@characterClass.Id">@characterClass.Name</option>
                                    }
                                </InputSelect>
                                <InputNumber @bind-Value="@charClass.Level" class="form-control">
                                </InputNumber>
                                <button @onclick="@AddClass" title="Weitere Klasse hinzufügen">+</button>
                                <button @onclick="() => RemoveClass(charClass)" title="Diese Klasse löschen">-</button>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-4 col-lg-2 p-1">
                    <label for="gender">Geschlecht:</label>
                    <InputSelect @bind-Value="@character.Sex" id="gender" class="form-select">
                        <option selected value="0">Bitte auswählen</option>
                        @foreach (var item in ListOfGenders) {
                            <option value="@item">@item</option>
                        }
                    </InputSelect>
                </div>
                <div class="col-6 col-md-4 col-lg-2 p-1">
                    <label for="alignment">Gesinnung:</label>
                    <InputSelect @bind-Value="@character.Alignment" id="alignment" class="form-select">
                        <option selected value="0">Bitte auswählen</option>
                        @foreach (var item in ListOfAlignments) {
                            <option value="@item">@item</option>
                        }
                    </InputSelect>
                </div>
                <div class="col-6 col-md-4 col-lg-2 p-1">
                    <label for="sizeCategory">Grössen-Kategorie:</label>
                    <InputSelect @bind-Value="@character.SizeCategory" id="sizeCategory" class="form-select">
                        <option selected value="0">Bitte auswählen</option>
                        @foreach (var item in ListOfSizeCategories) {
                            <option value="@item">@item</option>
                        }
                    </InputSelect>
                </div>
                <div class="col-6 col-md-4 col-lg-2 p-1">
                    <label for="size">Grösse:</label>
                    <InputNumber @bind-Value="@character.Size" id="size" class="form-control"></InputNumber>
                </div>
                <div class="col-6 col-md-4 col-lg-2 p-1">
                    <label for="age">Alter:</label>
                    <InputNumber @bind-Value="@character.Age" id="age" class="form-control"></InputNumber>
                </div>
                <div class="col-6 col-md-4 col-lg-2 p-1">
                    <label for="weight">Gewicht:</label>
                    <InputNumber @bind-Value="@character.Weight" id="weight" class="form-control"></InputNumber>
                </div>
                @if(string.IsNullOrEmpty(CharacterId)){
                    <FormButtons />
                }
                else {
                    <div class="mt-3">
                        <FormButtons />
                    </div>
                }
            </div>

            <ValidationSummary class="mt-3" />
            @if (showClassError) {
                <ul class="mt-3">
                    <li class="validation-message">
                        Klasse muss gewählt werden
                    </li>
                </ul>
            }
            @if (showLevelError) {
                <ul class="mt-3">
                    <li class="validation-message">
                        @levelErrorMessage
                    </li>
                </ul>
            }
        </EditForm>
    </div>
}
<div class="mt-3">
    @UIMessage
</div>

@code {
    [CascadingParameter] 
    public CascadingAppState appState { get; set; }
    [Parameter]
    public string? CharacterId { get; set; }

    private Character character = new Character() {
            Classes = new List<CharacterClass>() {
            new CharacterClass() { Level = 1 }
        }
    };
    private List<string> ListOfGenders = new List<string> {
        "männlich",
        "weiblich",
        "divers",
        "neutral"
    };
    private List<string> ListOfAlignments = new List<string> {
        "Rechtschaffen Gut", 
        "Neutral Gut", 
        "Chaotisch Gut", 
        "Rechtschaffen Neutral", 
        "Neutral", 
        "Chaotisch Neutral", 
        "Rechtschaffen Böse", 
        "Neutral Böse", 
        "Chaotisch Böse"
    };
    private List<Char> ListOfSizeCategories = new List<Char> {
        'S',
        'M',
        'L'
    };
    private IEnumerable<Class> allClasses;
    private IEnumerable<Race> allRaces;
    string UIMessage = "";
    string controllerName = "character";
    string message = "";

    bool showClassError = false;
    bool showLevelError = false;
    string levelErrorMessage = "";

    private string? SizeCategoryString {
        get => character.SizeCategory.ToString();
        set {
            if (!string.IsNullOrEmpty(value)) {
                character.SizeCategory = value[0]; // Nimmt das erste Zeichen
            }
        }
    }

    protected override async Task OnInitializedAsync() {
        allClasses = await classManager.GetAll();
        allRaces = await raceManager.GetAll();
        await appState.EnsureCharacters();
        character.UserId = appState.UserId;
        if (!string.IsNullOrEmpty(CharacterId)){
            character = appState.Characters.FirstOrDefault(c => c.Id == Int32.Parse(CharacterId));
        }
    }

    private async void Post() {

        try {
            CheckClassValidity();

            if (!showClassError) { 
                CheckLevelSum();
                if (!showLevelError) {
                    if (message != "null") {
                        bool confirm = await js.InvokeAsync<bool>("confirm", "Speichern & zurück zur Übersicht?");
                        if (confirm) {
                            if (string.IsNullOrEmpty(CharacterId)) {
                                character = await characterManager.Insert(character);
                                appState.Characters.Add(character);
                                message = JsonConvert.SerializeObject(character);

                            }
                            else {
                                character = await characterManager.Update(character);
                                appState.Characters[appState.Characters.FindIndex(c => c.Id == character.Id)] = character;
                                message = JsonConvert.SerializeObject(character);
                            }
                            // Console.WriteLine($"message: {message}");
                            await js.InvokeVoidAsync("history.back");
                        }
                        else
                            return;
                    }
                }
            }
        }
        catch (Exception ex) {
            UIMessage = ex.Message;
            Console.WriteLine($"{ex.Message}");
            StateHasChanged();
        }
    }

    private void AddClass() {
        if(character.Classes != null) {
            character.Classes.Add(new CharacterClass() {
                CharacterId = character.Id,
                Level = 1
            });
        }
    }
    private void RemoveClass(CharacterClass charClass) {
        if (character.Classes != null && character.Classes.Count > 1) {
            if (character.Classes.First() != charClass) {
                character.Classes.Remove(charClass);
            }
            return;
        }
        else {
            js.InvokeVoidAsync("alert", "Diese Zeile kann nicht gelöscht werden");
            return;
        }
    }

    private void CheckClassValidity() {
        if (character.Classes != null && character.Classes.Any(c => c.ClassId == 0)) {
            showClassError = true;
        }
        else {
            showClassError = false;
        }
    }
    private void CheckLevelSum() {
        if (character.Classes != null && character.Classes.Any()) {

            int totalLevel = character.Classes.Sum(c => c.Level);

            if (totalLevel > 20) {
                showLevelError = true;
                levelErrorMessage = "Die Gesamtsumme der Levels darf 20 nicht überschreiten";
            }
            else {
                showLevelError = false;
                levelErrorMessage = string.Empty;
            }
        }
    }
}
