@page "/alle-kampagnen"

@using System.Text.Json

@attribute [Authorize]
@inject CampaignManager campaignManager

<h3>Alle Kampagnen</h3>

<a class="btn btn-primary" href="neue-kampagne">hinzufügen</a>

<a class="btn btn-secondary" onclick="@GetAllCampaigns"> alle Anzeigen</a>
<p>@message</p>
@if (campaigns != null) {
    <div class="mt-3">
        <ul>
            @foreach (Campaign campaign in campaigns) {
                <li>@campaign.Id - @campaign.Name - @campaign.DungeonMasters</li>
            }
        </ul>
    </div>
}

@code {
    string controllerName = "campaign";
    string message = "hello world!";
    private IEnumerable<Campaign>? campaigns;

    private async void GetAllCampaigns() {
        campaigns = await campaignManager.GetAllCampaignsAsync();
        StateHasChanged();
    }
    
}
